@page "/employee-managment"
@using SMApp.Models
@using SMApp.Services.Contracts
@using Syncfusion.Blazor.Grids
@rendermode InteractiveServer
@inject IEmployeeManagementService EmployeeManagementService

<h3>Employee management</h3>

<div style="max-width:900px">
    <SfGrid DataSource="@employeeData"> @*  AllowSorting="true" AllowFiltering="true" AllowPaging="true" AllowGrouping="true" Toolbar="@toolbar"> *@
@*         <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
        <GridPageSettings PageSize="5"></GridPageSettings>
        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings> *@
        <GridColumns>
            <GridColumn Field="@nameof(EmployeeModel.Id)" IsPrimaryKey="true" Width="50px"></GridColumn>
            <GridColumn Field="@nameof(EmployeeModel.FirstName)" HeaderText="First name"></GridColumn>
            <GridColumn Field="@nameof(EmployeeModel.LastName)" HeaderText="Last name"></GridColumn>
            <GridColumn Field="@nameof(EmployeeModel.EmployeeJobTitleId)" HeaderText="Designation"></GridColumn>
            <GridColumn Field="@nameof(EmployeeModel.Gender)"></GridColumn>
            <GridColumn Field="@nameof(EmployeeModel.DateOfBirth)" Format="d" HeaderText="DOB"></GridColumn>
            <GridColumn Field="@nameof(EmployeeModel.ReportToEmpId)" HeaderText="Reports" Width="100px"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>

@code {
    private List<EmployeeModel>? employeeData = null;
    // private List<object> toolbar = new List<object> { "Add", "Edit", "Delete", "Update", "Cancel", "Search" };

    protected override async Task OnInitializedAsync()
    {
        employeeData = await EmployeeManagementService.GetEmployees();
    }
}
